* {
  margin: 0;
}
body {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
}
section {
  position: absolute;
  background-color: white;
  width: 25%;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
}
.img1 {
  position: absolute;
  top: -400px;
  left: -50px;
  width: 700px;
}
.img2 {
  position: absolute;
  right: -100px;
  bottom: -400px;
  width: 700px;
}
.imgcard {
  position: absolute;
  top: 0px;
}
.imgebetween {
  position: absolute;
  width: 90px;
  top: 23%;
  left: 34%;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
}
.text1 {
  position: absolute;
  top: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 35%;
}
.text1 p,
.text2 p {
  color: hsl(227, 10%, 46%);
}
.text2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 81%;
  right: -1px;
  height: 78px;
  border: 1px solid hsl(0, 0%, 59%);
  width: 100%;
}

.tt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
